@media screen and (max-width: 1280px){
    .contenedordiseño{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .listafooter{
        width: 100%;
        display: flex;
        margin: 0 110px;
    }
}
@media screen and (max-width: 834px){
    .tituloD{
        text-align: center; 
        line-height: 1px;
        align-items: center;
        font-size: 70px;   
        width: 100%;
        }
        .descripcion{
            margin: 0 auto;
        }
        #menu1{
            width: 50%;
            height: 80PX;
        }
        .contenedorD{
            display: none;
         }
        .diseñopc{
            width: 100%;
            height: 280px;
            align-items: center;
        }
        .diseñomobile{
            height: 460px;
        }
        .contenedordiseño{
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        .listafooter{
            width: 100%;
            display: flex;
            margin: 0 auto;
            
        }
}
@media screen and (max-width: 640px){
    .tituloD{
    text-align: center; 
    line-height: 1px;
    align-items: center;
    font-size: 45px;   
    width: 100%;
    }
   #menu1{
    width: 50%;
    height: 80PX;
    
   }
   .fondo{
    position: absolute;
left: 28%;
top: 100px;
bottom: 8%;

}
.descripcion{
    margin: 0 auto;
}
.contenedorD{
   display: none;
   
}
    .diseño{
        width: 100%;
        height: auto;
        font-family: 'Syne', sans-serif;
        font-size: 45px;
        color:#ECF2FF;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        
    }
    .diseño p{
        height: 120px;
        display: block;
        width: 100%;
        margin-left: 10px;
    }
    .contenedordiseño{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .diseñopc{
        width: 100%;
        height: 280px;
        align-items: center;
    }
    .diseñomobile{
        height: 460px;
        
    }
   .ICON{
    width:200px;
   }

.listafooter{
    width: 100%;
    display: flex;
    margin: 0 auto;
    
}
.listafooter li{
    margin: 50px auto;
    color: #f0f0f0;
    transition: 0.5s;
    width: 100%;
}
.listafooter li:hover{
    margin: 50px auto;
    color: #f0f0f0;
    transition: 0.5s;
    width: 100%;
}

.listafooter li b{ 
    margin: 20px 10px;
    font-size: 20px;
  }
.listafooter img{
    width: 30px;
    height: 30px;
}
.footer2{
    width: 95%;
    height: 500px;
    display: flex;
    flex-flow: column;
}
.spotify{
width: 90%;
height: 75px;
margin: 10px auto;
}
.spotify b{
    margin: 0 30px;
    font-size: 20px;
}
.spotify img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    
}
.textos{
    width: 80%;
    text-align: center;
    line-height: 35px;
    margin: 30px auto;
    font-size: 22px;
}
}