@media screen and (max-width: 1280px){
    .contenedordiseño{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .listafooter{
        width: 100%;
        display: flex;
        margin: 0 110px;
    }
}
@media screen and (max-width: 834px){
    .logo1{
        display: none;
       }
    .tituloD{
        text-align: center; 
        line-height: 1px;
        align-items: center;
        font-size: 70px;   
        width: 100%;
        
        }
        .descripcion{
            margin: 0 auto;
        }
        #menu1{
            width: 50%;
            height: 80PX;
        }
        .contenedorD{
            display: none;
         }
        .diseñopc{
            width: 100%;
            height: 280px;
            align-items: center;
        }
        .diseñomobile{
            height: 460px;
        }
        .contenedordiseño{
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        .listafooter{
            width: 100%;
            display: flex;
            margin: 0 auto;
            
        }
}

@media screen and (max-width: 640px){
    .tituloD{
    text-align: center; 
    line-height: 1px;
    align-items: center;
    font-size: 45px;   
    width: 100%;
    margin-top: 60px;
    }
   #menu1{
    width: 50%;
    height: 80PX;
    margin-top: -90px;
   }
   .fondo{
    position: absolute;
left: 28%;
top: 100px;
bottom: 8%;
}
.descripcion{
    margin: 0 auto;
}
.contenedorD{
   display: none;
}
    .diseño{
        width: 100%;
        height: auto;
        font-family: 'Syne', sans-serif;
        font-size: 45px;
        color:#ECF2FF;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        
    }
    .diseño p{
        height: 120px;
        display: block;
        width: 100%;
        margin-left: 20px;
    }
    .contenedordiseño{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .diseñopc{
        width: 100%;
        height: 250px;
        align-items: center;
    }
    .diseñomobile{
        height: 460px;
        
    }
   .ICON{
    width:200px;
   }
}