
@media screen and (max-width: 1024px){
    .nombre{
        position:absolute;
        width: 90%;
        height: 110px;
        left: 5%;
        right: 10%;
        top: 150px;
        line-height: 95px;
        font-family: 'Macondo';
        font-size: 75px;
        text-align: center;
        color: #ECF2FF;
        text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
    }
    .Ala1{
        position: absolute;
        width: 75px;
        height: 48.43px;
        left: 18%;
        top: 170px;
        
    }
    .Ala2{
        position: absolute;
        width: 75px;
        height: 48.43px;
        left: 75%;
        top: 175px;
        
    }
    .skills{
        font-family: 'Radio Canada', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #DBDBDB; 
        display:grid;
        align-items: center;
        position:relative;
        width: 600px;
        height: 93.43px;
        left: 25%;
        top: 290px; 
        list-style-type:circle;
    }
    .logo1{
        position: relative;
        width: 40px;
        height: 53.46px;
        left: 5%;
        margin-top: 45px;
        display: inline-block;
        }
    /* Div de todas las cards de trabajos */

    /* Div de todas las cards de trabajos */
    .titulosc{
        text-align: start;
        }
    .titu{
            width: 332px;
            height: 120px;
            padding-top: 90px;
            position: inherit; 
            font-size: 60px;
            } 
        /* Inicio de Card 1 */  
    .enc-esc{

                width: 450px;
                height: 300px;
                margin-top: 90px;

            }
    .enc-movil{
                width: 150px;
                height: 320px;
                border-radius: 20px;
                
                margin: 6px 6px;
            }
    .arkitex{
                width: 420px;
                height: 300px;
                display: block;
                margin: 30px auto 100px;
                
                
            }
    .arkitexm{
                width: 220px;
                height: 350px;
                border-radius: 20px;
                
                margin: 6px 6px;
            } 
    .boton-a{       
    left: 200px;
    margin-top:380px;
        }
    .boton-b{
        right: 100px;
        margin-top:380px;           
    }
    .habilidades2{
            display: none;
             }
    .card1 .boton-c{
                width: 100px;
            }
    .card1 .boton-c img{
                display: none;
            }
    .card1 .boton-sitio{
                width: 120px;
            
            }
    .cine{
                width: 180px;
                height: 390px;
                margin: 20px auto 50px;
                
            }       
    .card1:nth-child(2){
                height: 500px;
                }
    .gif{
                width: 370px;
              }
}

@media screen and (max-width: 912px){

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #191a19;
        padding: 5rem;
        transition: 0.5s;    
        position: sticky;
	    overflow: hidden;
        
    }
    .nav-list li {
        margin: 65px 25px;
        color: #f0f0f0;
        font-family: 'Radio Canada', sans-serif;
        font-size: 30px;     
    }    
.logo1{
    width: 45px;
    height: 45px;
    margin-top: 20px;
} 
.presentacion{    
        
            height: 500px;
            width: 90%;
            margin-left: 5%; 
            margin-right: 5%;
            margin-top: -500px;
           
        }
.nombre{
            position:absolute;
            width: 90%;
            height: 110px;
            left: 5%;
            right: 10%;
            top: 150px;
            line-height: 95px;
            font-family: 'Macondo';
            font-size: 80px;
            text-align: center;
            color: #ECF2FF;
            text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
        }
.fondo{
        position: fixed;
        left: 10%;
        top: 100px;
        bottom: 8%;
        width: 80%;
        }
.skills{
            font-size: 25px;
            display:grid;
            position:relative;
            width: 60%;
            left: 20%;
            top: 200px; 
            list-style-type:circle;
        }
.skills li{
    margin: 18px 0px;
}
.Ala1{
    position: absolute;
    width: 75px;
    height: 38.43px;
    left: 8%;
    top: 170px;
    
}
.Ala2{
    position: absolute;
    width: 75px;
    height: 38.43px;
    left: 82%;
    top: 275px;   
}
.habilidades li{
    text-align: center;
    display: inline-block;
    width: 10%;
    left: 10%;
    border-radius: 15px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
}
.habilidades{
    margin-top: 500px;
    margin-left: 1%;
    
}
.habilidades img{
    width: 65px;
    height: 65px;
    transition: 0s;
}
#menu{
    background-color: transparent;
     backdrop-filter: blur(14px);
    height: 80px;
    padding: 0 10px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    border-radius: 8px;
}
/* Secciones de los card de trabajos */
.secciones{
    margin-top: 80px;
}
/* Secciones de los card de trabajos */
.titu{   
    width: 332px;
    height: 120px;
    padding-top: 90px;
    position: inherit; 
    }
.enc-esc{
                display: inline-flex;
                position: absolute;
                left: 0;
                width: 400px;
                height: 270px;
                margin-left: 10px ;
                
            }
.enc-movil{
                width: 160px;
                height: 380px;
                border-radius: 20px;
                position: absolute;
                margin-right: 10px;
                right: 0;
                margin-top: 30px;
            }
.arkitex{
    display: block;
    width: 400px;
    height: 250px;
    margin: 30px auto 100px;
            }
.arkitexm{
    display: block;
    width: 180px;
    height: 300px;
    margin: 0 auto 100px;
            }  
.titulosc {
text-align: start;
margin-left: 30px;
font-size: 25px;

        }
.boton-a{       
            left: 150px;
            margin-top:380px;
        }
.titulosc:nth-child(2){
    font-size: 24px;
   }
.habilidades2{
        display: none;
         }
.hoodies{
    width: 500px;
    height: 300px;
}
.card1 .boton-c{
    width: 100px;
}
.card1 .boton-c img{
    display: none;
}
.card1 .boton-sitio{
    width: 120px;

}
.cine{
    width: 180px;
    height: 390px;
    margin: 20px auto 50px;
    
}
.card1:nth-child(2){
height: 500px;
}
.gif{
    vertical-align: middle;
    margin: 0 auto;
    width: 350px;
}
}

@media screen and (max-width: 640px){
    .nombre{
        position: relative;
        width: 95%;
        height: 110px;
        left: 2.5%;
        right: 10%;
        top: 60px;
        line-height: 70px;
        font-family: 'Macondo';
        font-size: 50px;
        text-align: center;
        color: #ECF2FF;
        text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.25rem;
        background-color: transparent;
        cursor: pointer;
        transition: 0.5s;
        position: fixed;
        
    }

    .abrir-menu {
        right: 15px;
        top: 20px;
        z-index: 999;
    }

    .cerrar-menu {
        
         right: 25px;
        top: 20px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #191a19;
        padding: 3rem;
        transition: 0.5s;
        
    }

    .nav.visible {
        opacity: 2;
        visibility: visible;
        position: fixed;
        transition: 0.5s;
        z-index: 999;
    }
    
    .nav-list {
        flex-direction: column;
        align-items:baseline;
        transition: 0.5s;
        
    }
    .nav-list li {
        margin: 65px 25px;
        color: #f0f0f0;
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;  
        transition: 0.5s;   
          
    }
    .nav-list li a {
      text-decoration: none; 
        color: #ecececec;
        transition: 0.5s;
        
    }
.logo1{
    width: 40px;
    height: 40px;
    margin-top: 20px;
} 
    body{
            width: auto;
             background: linear-gradient(90deg, #232526 0%, #414345 auto);
    }
.logo{
        position: absolute;
        width: 35px;
        height: 33.46px;
        left: 1200%;
        margin-top: 20px;
        }
.presentacion{    
            height: 800px;
            width: 90%;
            margin-top: 5px;
            position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
        }

.fondo{ 
        position: fixed;
        left: 10%;
        top: 150px;
        width: 80%;
        }
.skills{
            font-size: 19px;
            display:grid;
            position:relative;
            width: 240px;
            left: 20%;
            top: 130px; 
            list-style-type:circle;
        }
.skills li{
    margin: 15px 0px;
}
.menu{
    display: none;
}
.menulogo{
    align-items: end;
}
.Ala1{
    display: none;
}
.Ala2{
    display: none;
}
.habilidades li{
    text-align: center;
    display: inline-block;
    width: 25%;
    left: 10%;
    border-radius: 15px;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 5px 35px;
    box-sizing: border-box;
}
.habilidades{
    margin-top: 300px;
    margin-left: 1%;
    position: absolute;
}
.habilidades img{
    width: 40px;
    height: 40px;
    transition: 0s;
}
#menu{
    display: none;
}
.boton-sitio{          
            left: 10%;
            margin: 80px auto 0 auto;
            font-size: 16px;           
        }   
.habilidades2{
            display: none;
} 
/* Inicio de las secciones de trabajos */
.secciones{
    margin-top: -120px;
            }
 .titu{
    width: 80vw;
    height: 10px;
    padding-top: 60px;
    text-align: center; 
    line-height: 1px;
    align-items: center;
font-size: 45px;   
margin-top: 65px;  

    }
    .titulosc{
        width: 90%;
        height: 62px;
        margin-left: 5%;
        margin-top: 18px;
        font-weight: 600;
        text-align: center;
        }
    .titulosc:nth-child(2){
        font-size: 17px;
    }
.boton-a{
    display: none;
}
.boton-b{
    left: 20vw;
    margin-right: 30%;
    margin-top: 530px;   

}
/* Inicio de Card 1 */
.enc-esc{
                display: none;
            }
.enc-movil{
                width: 180px;
                height: 395px;
                border-radius: 20px;
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 80px;
            }
.arkitex{
    display: none;
}
.arkitexm{
    width: 240px;
    height: 395px;
    border-radius: 20px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.hoodies{
    width: 90%;
    height: 150px;
    margin-top: 150px;
}
.boton-c{
margin: 50px auto;
}
.card:nth-child(5){
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/* Ultimos Cards */
.card1{
    background-color: #DBDFAA;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin: 0 auto 20px;
}
.card1 .boton-sitio{
    width: 120px;
    margin: 0 auto;
}
.cine{
    width: 170px;
    height: 380px;
    margin: -20px auto 70px;
}
.card1 .boton-c{
    display: none;
}
.card1:nth-child(2){
    background: #ECC9EE;
    width: 100%;
    margin: 20px auto 0;
}
.gif{
    width: 90%;
    margin: -20px auto 1px;
}

}


/* Configuraciones por el largo de la pantalla */




