
  @media screen and (max-width: 1024px){
    .nombre{
        position:absolute;
        width: 90%;
        height: 110px;
        left: 5%;
        right: 10%;
        top: 150px;
        line-height: 95px;
        font-family: 'Macondo';
        font-size: 75px;
        text-align: center;
        color: #ECF2FF;
        text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
    }
    .Ala1{
        position: absolute;
        width: 75px;
        height: 48.43px;
        left: 18%;
        top: 170px;
        
    }
    .Ala2{
        position: absolute;
        width: 75px;
        height: 48.43px;
        left: 75%;
        top: 175px;
        
    }
    .skills{
        font-family: 'Radio Canada', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #DBDBDB; 
        display:grid;
        align-items: center;
        position:relative;
        width: 600px;
        height: 93.43px;
        left: 25%;
        top: 290px; 
        list-style-type:circle;
    }
    .logo1{
        position: relative;
        width: 40px;
        height: 53.46px;
        left: 5%;
        margin-top: 45px;
        display: inline-block;
        }
    /* Div de todas las cards de trabajos */
    .secciones{
        height: auto;
            width: 90%;
            margin-left: 5%;
            display: flex;
	        flex-direction: column;
	        align-items: center;
	        justify-content: space-between; 
        }
    /* Div de todas las cards de trabajos */
    .titu{
            width: 332px;
            height: 120px;
            padding-top: 90px;
            position: inherit; 
            font-size: 60px;
            } 
        /* Inicio de Card 1 */  
    .card1 {
            height: 500px;
             width: 80%;
            margin-top: 200px;
             position: absolute;
             display: block;
            }
    .enc-esc{
                position: absolute;
                width: 450px;
                height: 300px;

            }
    .enc-movil{
                width: 150px;
                height: 320px;
                border-radius: 20px;
                position: absolute;
                margin: 66px 68%;
            }

    .boton-sitio{
            box-sizing: content-box;
            position: absolute;
            float: left;
            cursor: pointer;
            width: 150px;
            height: 50px;
            font-family: 'Radio Canada', sans-serif;
            background: rgba(24, 24, 24, 0.8);
            border-radius: 10px;
            border: none;
            color: #D9D9D9;
            text-decoration: none;
            text-align: center;
            margin-left: 75%;
            margin-top: 40px;
            font-size: 17px;
            transition: 0.3s;
            
        }
    .habilidades2{
            display: none;
             }
        /* Inicio de Card 2 */
        
    .card2 {
        height: 500px;
        width: 85%;
        /* Queda pendiente de ajuste */
        margin-top: 40vh;
        display: block;
        }

/* Fin Card 2 */
}
  
  @media screen and (max-width: 912px){

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #191a19;
        padding: 5rem;
        transition: 0.5s;    
        position: sticky;
	    overflow: hidden;
        
    }
    .nav-list li {
        margin: 65px 25px;
        color: #f0f0f0;
        font-family: 'Radio Canada', sans-serif;
        font-size: 30px;     
    }
       
.logo1{
    width: 45px;
    height: 45px;
    margin-top: 20px;
} 

.presentacion{    
        
            height: 500px;
            width: 90%;
            margin-left: 5%; 
            margin-right: 5%;
            margin-top: -500px;
           
        }
.nombre{
            position:absolute;
            width: 90%;
            height: 110px;
            left: 5%;
            right: 10%;
            top: 150px;
            line-height: 95px;
            font-family: 'Macondo';
            font-size: 80px;
            text-align: center;
            color: #ECF2FF;
            text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
        }
.fondo{
        position: fixed;
        left: 10%;
        top: 100px;
        bottom: 8%;
        width: 80%;
        }
.skills{
            font-size: 25px;
            display:grid;
            position:relative;
            width: 60%;
            left: 20%;
            top: 200px; 
            list-style-type:circle;
        }
.skills li{
    margin: 18px 0px;
}
.Ala1{
    position: absolute;
    width: 75px;
    height: 38.43px;
    left: 8%;
    top: 170px;
    
}
.Ala2{
    position: absolute;
    width: 75px;
    height: 38.43px;
    left: 82%;
    top: 275px;   
}
.habilidades li{
    text-align: center;
    display: inline-block;
    width: 10%;
    left: 10%;
    border-radius: 15px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
}
.habilidades{
    margin-top: 500px;
    margin-left: 1%;
    
}
.habilidades img{
    width: 65px;
    height: 65px;
    transition: 0s;
}
#menu{
    background-color: transparent;
     backdrop-filter: blur(14px);
    height: 80px;
    padding: 0 10px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    border-radius: 8px;
}
/* Secciones de los card de trabajos */
.secciones{
    height: auto;
    width: 90%;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/* Secciones de los card de trabajos */
.titu{   
    width: 332px;
    height: 120px;
    padding-top: 90px;
    position: inherit; 
    }
    .card1 {   
    height: 500px;
    width: 80%;
    margin-top: 200px;
    position: absolute;
    display: block;
        }
/* Inicio de Card 1 */
.enc-esc{
                display: none;
            }
.enc-movil{
                width: 180px;
                height: 400px;
                border-radius: 20px;
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: -20px;
            }
    .titulosc {

        width: 80%;
        height: 62px;
        margin-left: 5%;
        margin-top: 18px;
        
        font-family: 'Radio Canada', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        text-align: initial;
        letter-spacing: 0.05em;
        
        color: #252525;
        }
    .boton-sitio{
            box-sizing: content-box;
            position: absolute;
            float: left;
            cursor: pointer;
            width: 130px;
            height: 40px;
            font-family: 'Radio Canada', sans-serif;
            background: rgba(24, 24, 24, 0.8);
            border-radius: 10px;
            border: none;
            color: #D9D9D9;
            text-decoration: none;
            text-align: center;
            margin-left: 75%;
            margin-top: 40px;
            font-size: 17px;
            transition: 0.3s;
            
        }    
    .habilidades2{
        display: none;
         }
/* Inicio Card2 */
.card2{
    height: 500px;
    width: 85%;
    /* Queda pendiente de ajuste */
    margin-top: 50vh;
    display: block;
}
/* Fin Card 2 */
}

@media screen and (max-width: 640px){
    .nombre{
        position: relative;
        width: 95%;
        height: 110px;
        left: 2.5%;
        right: 10%;
        top: 80px;
        line-height: 70px;
        font-family: 'Macondo';
        font-size: 50px;
        text-align: center;
        color: #ECF2FF;
        text-shadow: 2px 4px 4px rgba(5, 13, 29, 0.5);
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.25rem;
        background-color: transparent;
        cursor: pointer;
        transition: 0.5s;
        position: fixed;
    }

    .abrir-menu {
        right: 25px;
        top: 20px;
        z-index: 999;
    }

    .cerrar-menu {
        
         right: 25px;
        top: 20px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #191a19;
        padding: 3rem;
        transition: 0.5s;
        
    }

    .nav.visible {
        opacity: 2;
        visibility: visible;
        position: fixed;
        transition: 0.5s;
        z-index: 999;
    }
    
    .nav-list {
        flex-direction: column;
        align-items:baseline;
        transition: 0.5s;
        
    }
    .nav-list li {
        margin: 65px 25px;
        color: #f0f0f0;
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;  
        transition: 0.5s;   
          
    }
    .nav-list li a {
      text-decoration: none; 
        color: #ecececec;
        transition: 0.5s;
        
    }
.logo1{
    width: 40px;
    height: 40px;
    margin-top: 20px;
} 
    body{
            width: auto;
             background: linear-gradient(90deg, #232526 0%, #414345 auto);
    }
.logo{
        position: absolute;
        width: 35px;
        height: 33.46px;
        left: 1200%;
        margin-top: 20px;
        }
.presentacion{    
            height: 800px;
            width: 90%;
            margin-top: 5%;
            position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
        }

.fondo{ 
        position: fixed;
        left: 10%;
        top: 150px;
        width: 80%;
        }
.skills{
            font-size: 19px;
            display:grid;
            position:relative;
            width: 240px;
            left: 20%;
            top: 160px; 
            list-style-type:circle;
        }
.skills li{
    margin: 15px 0px;
}
.menu{
    display: none;
}
.menulogo{
    align-items: end;
}
.Ala1{
    display: none;
}
.Ala2{
    display: none;
}
.habilidades li{
    text-align: center;
    display: inline-block;
    width: 25%;
    left: 10%;
    border-radius: 15px;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 5px 35px;
    box-sizing: border-box;
}
.habilidades{
    margin-top: 340px;
    margin-left: 1%;
    position: absolute;
}
.habilidades img{
    width: 40px;
    height: 40px;
    transition: 0s;
}
#menu{
    display: none;
}
.titulosc{
        
        width: 90%;
        height: 62px;
        margin-left: 5%;
        margin-top: 18px;
        
        font-family: 'Radio Canada', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        text-align: initial;
        letter-spacing: 0.05em;
        
        color: #252525;
        }
.boton-sitio{
            box-sizing: border-box;
            position: absolute;
            cursor: pointer;
            margin-left: 20vw;
            margin-right: 30%;
            font-family: 'Radio Canada', sans-serif;
            background: rgba(24, 24, 24, 0.8);
            border-radius: 10px;
            border: none;
            color: #D9D9D9;
            text-decoration: none;
            margin-top: 50px;
            font-size: 15px;
            transition: 0.3s;
            
        }   
.habilidades2{
            display: none;
} 

/* Inicio de las secciones de trabajos */
.secciones{
    height: auto;
    width: 90%;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    position: relative;
    margin-top: -120px;
            }
 .titu{
    width: 80vw;
    height: 70px;
    padding-top: 60px;
    text-align: start; 
font-size: 45px;   
margin-top: 40px;  
                }
/* Inicio de Card 1 */
.card1 {
    height: 500px;
    width: 80%;
    margin-top: 200px;
    position: absolute;
            }
.enc-esc{
                display: none;
            }
.enc-movil{
                width: 180px;
                height: 395px;
                border-radius: 20px;
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }
/* Fin Card 1 */

/* Inicio Card2 */
.card2{
    height: 500px;
    width: 85%;
    /* Queda pendiente de ajuste */
    margin-top: 69vh;
   
}
/* Fin Card 2 */

}
@media screen and (max-height: 670px){
.card2{
    margin-top: 85vh;
}
}


